
body{
  background-image: url("https://images.unsplash.com/photo-1542254504-6b7ec5d4af69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-position: center;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-floating{
  color: #7c7c7c;
}
.input-table{
    color:black;
    margin-top:65px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid rgb(172, 172, 172) ;
    border-radius: 0.5rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.884);
}
.input-table2{
  margin-top:10px;
}

.view{
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width:10%;
  border-radius: 0.5rem;
}